/* RouteDash.module.css */

/* Route Dashboard container */
.routeDashboardContainer {
  display: flex;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

/* Sidebar */
.routeSidebar {
  width: 250px;
  background-color: #345e38;;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  height: 100%;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.routeSidebarHeader {
  text-align: center;
  margin-bottom: 20px;
}

.routeSidebarTitle {
  font-size: 24px;
  font-weight: bold;
  color: #ecf0f1;
}

.routeBinControls {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.routeBinControls h3 {
  font-size: 18px;
  color: #ecf0f1;
  margin-bottom: 10px;
}

.routeBinControls p {
  color: #b0bec5;
  font-size: 14px;
}

.routeActionButton {
  padding: 10px;
  background-color: #56c331;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.routeActionButton:hover {
  background-color: #2980b9;
}

.routeViewBinsLink {
  color: #3498db;
  text-decoration: none;
  font-size: 16px;
}

.routeViewBinsLink:hover {
  text-decoration: underline;
}

/* Main content */
.routeMainContent {
  margin-left: 250px; /* Space for sidebar */
  padding: 20px;
  flex-grow: 1;
  background-color: #ecf0f1;
  color: #34495e;
}

.routeContentHeader {
  margin-bottom: 30px;
}

.routeMapViewTitle {
  font-size: 24px;
  color: #34495e;
  margin-bottom: 15px;
  font-weight: bold;
}

/* Map container */
.routeMapContainer {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px;
}
